@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .text {
        background-color: red;
    }
</style>

<div>
    <label class="text"> Test Partial View </label>
</div>